.editComponent {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 2%;
}

.editComponent input {
    text-align: center;
}

.editComponent button {
    margin: auto;
    margin-top: 2%;
    width: 65%;
}
